body {
	background-color: #e1ddd9;
	font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size: 11px;
	color: #564b47;
	padding: 20px;
	margin: 5px;
	text-align: center;
}

td {
	background-color: #e1ddd9;
	font-size: 11px;
}

textarea {
	background-color: #eeeeee;
	font-size: 11px;
}

#inhalt {
	text-align: left;
	vertical-align: middle;
	margin: 5px auto;
	padding: 5px;
	width: 700px;
	background-color: #ffffff;
	border: 1px dashed #564b47;
}
