<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>
        	com.google.api.server.spi.EndpointsServlet
        </servlet-class>
        <init-param>
        	<param-name>services</param-name>
        	<param-value>
            com.ipeirotis.readability.endpoints.ReadabilityEndpoint
        	</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EndpointsServlet</servlet-name>
        <url-pattern>/_ah/api/*</url-pattern>
    </servlet-mapping>
</web-app>
